.blog-container {
    margin: 40px 0;
}

.blog-title { 
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--primary-color);
}
.cards-blog-container {
    display: flex;
    justify-content: space-between;
    margin: 40px var(--outer-margin);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.navigation-buttons button {
    margin: 0 5px;
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-s);
}
  
.navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  