img-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.contact-page {
    text-align: center;
}

.contact-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    background-image: var(--img-fundo-contato); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    margin: 50px var(--outer-margin);

    padding-top: 340px;
    padding-bottom: 60px;
}

.contact-text {
    color: var(--color-white);
    font-size: var(--font-size-s);
    width: 70%;
    margin-bottom: 40px;
    padding: 30px;

    background-color: var(--contato-fundo-texto);
}

.contact-container h2 { 
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--light-color);
    margin-bottom: 20px;
}

.contact-text p {
    margin-bottom: 15px;
}

.logo-bora-pescar {
    margin: 40px;
    width: 40%;
}
