img-container{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    background-image: var(--img-fundo-contato); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    align-items: center;
    margin: 50px var(--outer-margin);

    padding-top: 340px;
    padding-bottom: 60px;
}

.contact-text {
    color: var(--color-white);
    font-size: var(--font-size-s);
    width: 70%;
    margin-bottom: 40px;
    padding: 30px;

    background-color: var(--contato-fundo-texto);
}

.contact-container h2 { 
    text-align: center;
    font-size: var(--font-size-l);
    color: var(--light-color);
    margin-bottom: 20px;
}

.contact-text p {
    margin-bottom: 15px;
}

.logo-bora-pescar {
    width: 40%;
    margin-top: -190px;
}

@media (max-width: 1000px) {
    .contact-text {
        word-break: break-word;
        width: 100%;
        border-radius: 8px;
    }

    .logo-bora-pescar {
        margin-top: -350px;
        width: 300px
    }
    .contact-container {
        background-image: none; 
        background-position: center; 
        background-repeat: no-repeat;
        align-items: center;
        margin: 50px var(--outer-margin);
        margin-top: 250px;
        padding: 0;
    }
    .contact-container h2 { 
        color: var(--contato-titulo);
    }
}