.form-container {
    background-color: var(--light-color);
    border-radius: 8px;
    padding: 30px;
    width: 800px;
    margin: 0;
    font-size: var(--font-size-s);
}
  
form label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
}
  
form input,
form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: var(--font-size-s);
}
  
form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--transparent-primary-color);
}

textarea#message{
    height: 200px;
}
  
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
  
.checkbox-container input {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
}
  
form button {
    background-color: var(--tertiary-color);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 60%;
    justify-self: center;
    display: block;
}
  
form button:hover {
    background-color: var(--dark-tertiary-color);
}

form button:focus {
    outline: none;
    border: 2px solid var(--dark-tertiary-color);
    box-shadow: 0 0 4px rgba(255, 140, 66, 0.5);
}
  