.card-categoria {
    position: relative;
    width: auto; 
    border-radius: 8px; 
    overflow: hidden; /* Garante que nada ultrapasse os limites */
}
  
.card-categoria-image {
    width: 100%;
    height: auto;
    display: block; /* imagem respeitar o container */
}
  
.card-categoria-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(34, 87, 161, 0.7);  /* Fundo azul translúcido */
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 15px 0; 
    font-weight: bold; 
    border-radius: 50px 50px 0 0; 
}
