:root {
  /* Cores */
  --primary-color: #2257A1;
  --secondary-color: #0F2B52;
  --tertiary-color: #F69F5E;
  --dark-color: #071219;
  --background-color: var(--color-white);
  --transparent-primary-color: #2257a1c2;
  --text-color: #111111;
  --color-white: #FFFFFF;

  /* Fontes */
  --font-family: 'Open Sans', sans-serif;

  --font-size-xxs: 0.75rem;  /* 12px */
  --font-size-xs: 1rem;      /* 16px */
  --font-size-s: 1.25rem;    /* 20px */
  --font-size-m: 1.5rem;     /* 24px */
  --font-size-l: 1.75rem;    /* 28px */
  --font-size-xl: 3rem;      /* 48px */

  /* Outros */
  --border-radius: 8px;
}

[theme="high-contrast"] {
  /* TODO: definir as cores de alto contraste */
  --primary-color: #ffffff;
  --background-color: #ff18b2;
  --text-color: #f4f4f4;
}

[font-size="medium"] {
  --font-size-xxs: 1rem;     /* 16px */
  --font-size-xs: 1.25rem;   /* 20px */
  --font-size-s: 1.5rem;     /* 24px */
  --font-size-m: 1.75rem;    /* 28px */
  --font-size-l: 2rem;       /* 32px */
  --font-size-xl: 3.25rem;   /* 52px */
}

[font-size="large"] {
  --font-size-xxs: 1.25rem;  /* 20px */
  --font-size-xs: 1.5rem;    /* 24px */
  --font-size-s: 1.75rem;    /* 28px */
  --font-size-m: 2rem;       /* 32px */
  --font-size-l: 2.25rem;    /* 36px */
  --font-size-xl: 3.5rem;    /* 56px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}
