:root {
  /* Cores */
  --primary-color: #2257A1;
  --secondary-color: #F69F5E;
  --background-color: var(--color-white);
  --transparent-primary-color: #2257a1c2;
  --text-color: #111111;
  --color-white: #FFFFFF;

  /* Fontes */
  --font-family: 'Open Sans', sans-serif;

  --font-size-xs: 1rem;      /*16px*/
  --font-size-s: 1.25rem;    /*20px*/
  --font-size-m: 1.5rem;     /*24px*/
  --font-size-l: 1.75rem;    /*28px*/
  --font-size-xl: 3rem;      /*48px*/

  /* Outros */
  --border-radius: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
}
